@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

h1, h2, h3, h4, h5, h6, a, p {
  font-family: Lexend;
  color: #FFFFFF;
}
hr {
  background-color: #DDDDFF;
  color: #DDDDFF;
  height: 4px;
}

body {
  background-color: #331155;
  text-align: center;
}

iframe {
  border-radius: 9px;
  width: 80%;
  height: 555px;
  border-width: 5px;
  border-color: #331155;
}

button {
  border-radius: 8px;
  background-color: #470589;
  border-width: 4px;
  border-color: #331155;
}
